/*reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'audiowide-regular-webfont';
	src: url('../fonts/audiowide-regular-webfont.eot');
	src: url('../fonts/audiowide-regular-webfont.woff') format('woff'), url('../fonts/audiowide-regular-webfont.ttf') format('truetype'), url('../fonts/audiowide-regular-webfont.svg') format('svg');
}

/*Base style*/
/*index-page*/
.page-header{
	background:url(../img/bg-transparent1.png) repeat;
	margin: 0;
	height: 60px;
	width: auto;
}
.wrapper{
	width:945px;
	margin-left: 185px;
}
.logo{
	float: left;
	padding-top: 0px;
}
.navbar-right{
	float: right;
}
.navbar-right li{
	float:left;
}

.navbar-right li a{
	color:white;
	display: block;
	font-family:arial;
	font-size: 18px;
	line-height:59px;
	margin: 0;
	min-height: 60px;
	padding: 0 24px;
	text-align: center;
	width: auto;
}
	
.navbar-right li a:hover{
background-color: #620031;
	color: #ffffff;
}
.page-header nav ul li.selected a{
	background-color: #000000;
	color: #a3a3a3;
}
.navbar-right a{
	color: white;
	font-family: arial;
	font-size:18px;

}

.banner{
	background-image: url(../img/bg1-home.jpg);
	height:777px;
	padding-top: 0px;
	background-size: cover;
}
.image{
	position:absolute;
	left:185px;
	top:100px;
	width: auto;
}
.text{
	float: right;
	margin-top: 185px;
   
 }
h1{
	font-size:65px;
	color: #ffffff;
	font-family: audiowide-regular-webfont;
}
.spacecraft{
	font-size:45px;
	color: #ffffff;
	font-family:arial;
	margin-left:100px;
	margin-top:30px;

}
.more{

	display: block;
	height:50px;
	font-size:18px;
	font-family: arial;
	width:180px;
	background-color:black;
	color:grey;
	border: none;
	margin-left:180px;
	margin-top:30px;
	text-align: center;
	padding-top:15px;
}
.more:hover{
	background-color: red;
	color: white;
}
 .feature {
	background: url(../img/bg-transparent1.png);
    color:#a3a3a3;
    float: left;
    font-family: audiowide-regular-webfont;
    font-size: 23px;
    height:60px;
    margin: 96px 0 0;
    padding: 17px 0 10px;
    position:relative;
    text-align: center;
    width: 940px;
}
.homeimages{
	float: left;
	margin:0px;
}
.homeimages li{
	float:left;
}
.homefootertop{
	background: #620031;
	height:150px;
}
h2{
	font-size:30px;
	font-family: audiowide-regular-webfont;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: center;
	color: white;
}
h3{
	font-size:30px;
	font-family: audiowide-regular-webfont;
	padding-bottom:40px;
	color: white;

}
.hometext{
	text-align: center;
	font-size:18px;
	font-family:arial;
	color: #ffffff;
}
.footerbottom{
	background: black;
	height:440px;
}
article{
	display: flex;
	padding-top: 40px;
}

.homesection{
	display: flex;

}
.homearticle-right{
	padding-left:40px;  
	display: flex;
	flex-direction: column;
}
.section-text{
padding-left: 20px;
padding-bottom: 10px;
}
h4{
	font-size:23px;
	font-family: audiowide-regular-webfont;
	color:#a3a3a3;

}
.homeline{
	content: ".";
	font-size: 0px;
	background: grey;
	display: block;
	height: 0.4px;
	width: 100%;
	margin:30px auto 30px;
}
.date{
font-size:14px;
font-family: arial;
color:white;
padding-top: 10px;
}
a:link{
	text-decoration: none;
}
 .readmore{
    display: block;
	height:30px;
	font-size:14px;
	font-family: arial;
	width:130px;
	background-color:#3c0f38;
	color:#ffffff;
	border: none;
	text-decoration: none;
	margin-left:190px;
	text-align: center;
	padding-top:8px;
}
.readmore:hover{
	background-color: #620031;
	color: white;

}
h5{
	font-family:audiowide-regular-webfont;
	font-size:22px;
	padding-left:110px;
	color: white;
	padding-top: 30px;
	float: left;
	padding-right: 65px;

}
.footer{
	background-color:#a3a3a3;
	height: 85px;
}
.social{
	padding-top:25px;

	}
.social a{
	margin: auto 10px;

}
.footer-description{
	background-color: #ffffff;
	height: 85px;
}
.footer-description div p{
	padding-top:40px;
	color: black;
	font-size: 13px;
	font-family: arial;
	text-align: center;
}
/*proj1*/
.project1-page{
	background:url(../img/bg-home.jpg);
	margin: 0;

}
.proj1-main{
	background: black;
	height:900px;
}
.proj1-title{
	font-family: arial;
	color: #a3a3a3;
	padding-left: 800px;
	padding-top: 20px;
	font-size: 18px;
}
h6{
	font-size:35px;
	font-family: audiowide-regular-webfont;
	padding-left:600px;
	padding-top: 70px;
	padding-bottom:60px;	
	color: white;
}
.proj1-main div h4{
	font-size:23px;
	font-family: audiowide-regular-webfont;
	color: #a3a3a3;
	text-align: center;
	padding-top:40px;
	padding-bottom: 30px;

}
.proj1-text{
	font-size:14px;
	font-family:arial;
	color:white;
	line-height: 25px;
	text-align: center;
	padding-bottom: 30px;

}
